<!doctype html>
<html>
<head>
  <title>Play Game</title>
</head>
<body>

   
    Please answer the following questions:
    <form action="/madlib">
    Choose a color:
    <select name="color">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="yellow">Yellow</option>
    </select>
    <!-- </form> -->

    <form>
    Choose a pet:
    <select name="pet">
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="bird">Bird</option>
      <option value="bunny">Bunny</option>
    </select>
    <!-- </form> -->

    <!-- <form> -->
    Choose a person:
    <input type="radio" name="person" value="Oprah">
    <label>Oprah</label>
    <input type="radio" name="person" value="Madonna">
    <label>Madonna</label>
    <input type="radio" name="person" value="Kobe">
    <label>Kobe</label>
    <input type="radio" name="person" value="Biden">
    <label>Biden</label>
    <!-- </form> -->

    <!-- <form> -->
    Choose an adjective:
    <textarea name="adjective"></textarea>
    <!-- </form> -->

    <!-- <form> -->
    <input type="submit">
    </form>
</body>
</html>