<!doctype html>
<html>
<head>
  <title>MadLibs</title>
</head>
<body>

<h1>Your MadLibs Story</h1>

<p>It was a {{ adjective1 }} , {{ adjective2 }} {{ month }} day. <br>
  A {{ color }} {{ pet }} named {{ petname }} was sitting in the {{ adjective3 }} Hackbright Lab. <br>
  {{ petname }} was studying {{ prog_lang }} on the {{ brand }} computer.<br>
  While {{ petname}} was {{ adjective4 }} typing away, {{ petname }} accidentally {{ past_tense_verb}} {{ food }} on their computer.<br>
  When {{ person }} went to pick {{ petname }} up, it burst into flames in a totally {{ adjective5 }} way. </p>

<!-- adjective1
adjective2
adjective3
adjective4
adjective5

month
color
pet
petname
prog_lang
brand
past_tense_verb
food
person -->

</body>
</html>
